.components > ul {
    margin: 0;
    padding: 0;
}

.components > ul li {
    list-style-type: none;
    margin: 5px;
}

.components .string,
.components .number {
    background-color: #eee;
    border-color: #ddd;
    border-radius: 5px;
    border-width: 1.5px;
    border-style: solid;
    padding: 2px 3px;
    font-size: 11px;
    margin: 5px 0;
    font-family: sans-serif;
}

.components .string::before {
    content: "\""
}

.components .string::after {
    content: "\""
}

.components .string {
    color: navy;
}

.components .number {
    color: green;
}

.components ul.list-of,
.components ul.tuple-of {
    margin: 0;
    padding: 0;

}

.components ul.list-of::before {
    content: "[";
}

.components ul.list-of::after {
    content: "]";
}

.components ul.tuple-of::before {
    content: "(";
}

.components ul.tuple-of::after {
    content: ")";
}

.components ul.list-of > li,
.components ul.tuple-of > li {
    display: inline;
}

.components.dark .string,
.components.dark .number {
    background-color: rgba(235,235,225,0.9);
    border-color: #666;
}

.components.dark {
    background-color: #1d1f21;
}

.components.dark ul.list-of::before,
.components.dark ul.tuple-of::before,
.components.dark ul.list-of::after,
.components.dark ul.tuple-of::after {
    color: #eee;
}
